<%- include('Layouts/Header') %>
<link rel="stylesheet" href="stylesheets/about.css">
    </head>

    <body>
        <div class="about-section">
            <div id="Heading">
                <p>About Us</p>
            </div>
            <p class="text">
                Driven with the zeal of offering everything your beloved furry pal and you need under one woof,
                House-O-Pets aims at making parenting hassle-free. From keenly understanding the variegated demands of
                pet owners to providing an array of best-in-class products and consultation, we stop at nothing!


                At House-O-Pets, we aim at making your experience simple and convenient and thrive to provide you
                unmatched quality and timely service. We believe that inspiration comes in multifarious ways to those
                who are passionate enough to seek it. We were greatly inspired by our love for pets and are willing to
                cross limits to provide the best for these wonderful marvels that people our lives with undemanding
                love.
                We are always open to advice and suggestions for we possess the will to do our bit in making parenting a
                lovely experience and growing a vibrant community of pet lovers.


                Share your requirements with us and leave your worries behind as we promise to exceed expectations. We
                wish you a happy parenting!
            </p>
        </div>
        <%- include('Layouts/Footer') %>