<link rel="stylesheet" href="stylesheets/Login_and_SignUp.css">
<form action="/signup" method="POST" class="signup">
  <p id="msgelement"><%= msg %></p>
  <div class="field">
    <input type="text" placeholder="Username"  name="username1" required>
  </div>
  <div class="field">
    <input type="password" placeholder="Password"  name="password1" required>
  </div>
  <div class="field">
    <input type="password" placeholder="Confirm password"  name="confirmpassword" required>
  </div>
  <div class="field btn">
    <div class="btn-layer"></div>
    <input type="submit" value="Signup">
  </div>
</form>